/* Universal selector */
* {
    box-sizing: border-box;
    font-family: sans-serif, serif, arial;
}

/*-- Color scheme --*/
:root {
    --gray: rgb(44, 42, 42);
    --light-blue: rgb(27, 120, 143);
    --white: rgb(255, 255, 255);
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: var(--white);
  }


/*-- Header, Navbar --*/
header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    background-color:var(--gray);    
}

h1 {
    padding-left: 50px;
    padding-right: 5px;
    background-color: var(--light-blue);
    color: var(--gray);
    font-size: 300%;
    font-family: sans-serif;
}

h2 {
    right: 35px;
    top: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--light-blue);
    font-size: 175%;
    position: absolute;
}

nav {
    padding-right: 50px;
    padding-left: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

a {
    display: inline;
    margin: 10px;
    color: var(--light-blue);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/*-- Banner img and Subtitle --*/
figure {
    display: block;
    width: 100%;
    height: 150px;
}
img {
    overflow: hidden;
    width: 100%;
    height: 150px;
}

.banner {
    display: block;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  h1 {
    padding: 0px;
    width: 100%;
  }