/* Universal selector */
* {
    box-sizing: border-box;
    font-family: sans-serif, serif, arial;
}

/*-- Color scheme --*/
:root {
    --gray: rgb(44, 42, 42);
    --light-blue: rgb(27, 120, 143);
    --dark-blue: rgb(5, 51, 136);
    --white: rgb(255, 255, 255);
}

/*-- Body and Main Element --*/
body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: rgb(235, 232, 232);
  }

main {
    display: flex;
    flex-wrap: wrap;
}

/*-- Header, Navbar, Nav links --*/
header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    background-color:var(--gray);
}

h1 {
    padding-left: 50px;
    padding-right: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--light-blue);
    color: var(--gray);
    font-size: 300%;
    font-family: sans-serif;
}


nav {
    padding-right: 50px;
    padding-left: 50px;
}

a {
    align-items: flex-end;
    margin: 10px;
    color: var(--light-blue);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
}

/*-- Banner img and Subtitle Styling --*/
/*-- .banner for figure properties --*/
.banner {
    display: block;
    position: relative;
    height: 175px;
}

img {
    object-fit: cover;
    object-position: 20% 20%;
    overflow: hidden;
    width: 100%;
    height: 175px;
}

h2 {
    position: absolute;
    right: 2%;
    bottom: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    background-color: var(--light-blue);
    font-size: 175%;
    font-family: sans-serif;
    color: var(--gray);
}

/*-- Content Sections = Sidebar, Headings and Content Box Sizing  --*/
aside {
    border-right: solid 2px;
    border-color: var(--dark-blue);
    margin: 20px;
    width: 20%;
}

h3 {
    color: var(--dark-blue);
    font-size: 275%;
    padding-right: 10px;
    text-align: right;
}
    
div {
    width: 80%;
}

/*-- About Section, Photo, and Paragraph --*/
/*-- .about is the content box for about --*/
/*-- .photo-box is the content box for personal photo --*/
/*-- .photo if for the image --*/

.about {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.photo-box {
    display: flex;
    align-items: center;
}

.photo {
    border-radius: 50%;
    padding: 20px;
    width: 200px;
}

p {
    display: inline-flex;
    color: var(--dark-blue);
    font-size: 12px;
    font-weight: 600;
    padding: 20px;
    width: 80%;
    text-align: center;
}

/*-- Work Projects --*/
/*-- .work-info is content box for work section --*/
/*-- .images is the content box housing the 5 work items --*/
/*-- .top-box is box size for box 1 --*/
/*-- .box2-3 and .box3-4 are the box properties for those items  --*/
/*-- #box1-5 are defining box placement and styling --*/
/*-- .box1-sub and .subtitle are properties for positioning and styling of the title for each box --*/
/*-- .card-img1 and .card-imgs are the sizing properties for each image in the work section --*/
.work-info {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.images {
    display: flex;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 73px;
}

.top-box {
    display: flex;
    width: 100%;
    height: 200px;
}

.box2-3 {
    display: flex;
    width: 100%;
    height: 100px;
    
}

.box3-4 {
    display: flex;
    width: 100%;
    height: 100px;
}

#box1 {
    position: relative;
    flex-basis: 100%;
    border: 4px solid var(--light-blue);
    margin: 0;
}

#box2 {
    position: relative;
    flex-basis: 50%;
    border: 4px solid var(--light-blue);
    margin: 6px 3px 3px 0;
}

#box3 {
    position: relative;
    flex-basis: 50%;
    border: 4px solid var(--light-blue);
    margin: 6px 0 3px 3px;
}

#box4 {
    position: relative;
    flex-basis: 50%;
    border: 4px solid var(--light-blue);
    margin: 6px 3px 3px 0;
}

#box5 {
    position: relative;
    flex-basis: 50%;
    border: 4px solid var(--light-blue);
    margin: 6px 0 3px 3px;
}

.box1-sub {
    position: absolute;
    left: 0px;
    bottom: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--light-blue);
    color: var(--gray);
}


.subtitle {
    position: absolute;
    bottom: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--light-blue);
    color: var(--gray);
}

.card-img1 {
    object-fit: fill;
    height: 192px;
}

.card-imgs {
    object-fit: fill;
    object-position: 5% 20%;
    height: 83px
}

/*-- Contact Info --*/
/*-- .contact is for the content box for this section --*/
/*-- ul and li are defining the styling for the contact info  --*/
.contact {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 73px;
  }

li {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    font-size: 100%;
    color: var(--dark-blue);
}


/*-- Media screen sizing --*/
@media  screen and (max-width: 960px){
    header, nav, .about, 
 .work-info,  .contact {
    flex-direction: column;
  }

  h1 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px;
    width: 100%;
  }

  h3 {
    font-size: 150%;
  }
  
  div {
    width: 99%;
  }

  p {
    text-align: center;
    width: 99%;
  }

  aside {
    border-right: none;
    border-bottom: solid 2px;
    border-color: var(--dark-blue);
    margin: 20px;
    width: 99%;
  }

  .about, 
 .work-info,  .contact {
    display: flex;
    width: 97%;
 }

 .photo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    border-radius: 50%;
    padding: 20px;
    width: 200px;
}

}
